.linkBox {
  height: 7vh;
  border-radius: 50px;
  background-color: rgb(14, 71, 80);
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1vh;
}

.linkBox > * {
  border-radius: 50px;
  border: solid 1px white;
  box-shadow: 2px 2px rgb(66, 66, 66);
  font-size:.9em;
  padding-left: 1vw; 
}

.linkBox > :hover {
  color: white;
  border: 3px solid white;
}

/* //keep */
a.nav-link {
  margin-left: .5vw;
  margin-right: .5vw;
  background-color: white;
}

/* non clicked navlinks text color */
a.nav-link.navbar-brand {
  color: rgb(14, 71, 80);
}

a.nav-link.active {
  background-color: #dad8d8;
}


@media (min-width: 575px) {
  .linkBox {
     width: 90%;
  }
}

@keyframes iconflip {
  0% {transform: rotateY(0deg);}
  50% {transform: rotateY(180deg); box-shadow: -7px 1px 5px rgba(233, 207, 62, 0.959)}
  100% {transform: rotateY(0deg);}
}
