@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap');

.resume {
    position: relative;
    height: 70vh;
    width: 100vw;
    padding-top: 6vh;
    display: flex;
    justify-content: center;
}
.resumeContent {
    padding-top: 10%;
}

.resumeBtn {
    border: 2.5px solid white;
    border-radius: 5px;
    margin-top: 8vh;
    color: #203B5A;;
    background-color: rgba(233, 207, 62, 0.959);
    opacity: .86;
    width: 30vw;
}

.resumeTitle {
    font-size: 2em;
    color: rgba(233, 207, 62, 0.959);
}
