
.mainBackground {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%); 
    height: 100%;
    width: 100%;
     
    
}

.topBox {
    display: flex;
    flex-direction: column;
    /* border: 1px solid magenta; */
   
    
}

.myFooter {
    border: 2px solid red;
}


@media (min-width: 750px) {
    .topBox {
        flex-direction: row;
        min-height: 90vh;
        height: 100%;
    }

    /* .mainBackground {
        background-color: #537895;
        background-image: linear-gradient(315deg, #537895 0%, #09203f 74%); 
        height: 100vh;
        display: flex;
        flex-direction: column;
         
        
    } */

}