.mainBackground {
    padding:0px;
    background-color: #beb5af;
}

.topBox {
   min-height: 92vh;
   width:100%; 
   background-color: #beb5af;
}

.navbar {
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    justify-content: flex-start;
}

/* When width goes above 750px */
@media (min-width: 750px) {
    .mainBackground {
        max-width: 100%;
    }
}