
.contact {
  padding-bottom: 15vh;
  width: fit-content;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
}

.contact > a {
  border: solid 2px white;
  margin-top: 1vh;
  background-color: rgb(14, 71, 80);
}

.contact > a:hover {
  background-color:rgb(137, 214, 226);
}

.contact .btn {
  width: 45vw;
  font-weight: bold;
  font-style: bold;
  justify-content: center;
  align-content: center;
  color: white;
  border-radius: 15px;
}



@media (min-width: 750px) {
  .contact {
    width: fit-content;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   }
}


