
.contact {
 
 /* margin-top: 10vh; */
 width: fit-content;
 height: 70vh;
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
}

.contact .btn {
  width: 45vw;
  margin-top: 2vh;
  justify-content: center;
  align-content: center;
  background-color:rgba(233, 207, 62, 0.959);
  color: #203B5A;
  
  /* align-items: center; */
  /* border: red 2px solid; */
  
}

/* .contactBtns > * {

} */

/* .contact :nth-child(2) {
  margin-top: 5vh;
  border: 1px solid red;
} */

/* ul a:link, a:visited {
  color:rgba(233, 207, 62, 0.959);
  border: none;
  border-radius: none;
  text-decoration: none;
  font-size: 2.5em;
}

ul {
  width: 45%;
} */


