
.mainBackground {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);

    height: 100%;
}
    


@media (max-width: 420px) {
    .mainBackground {
        width:100%;
        height: 100%;
    }
}