/* * {
    background-color: #A8B0BF; 
} */

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
.aboutMeContainer {
    height: 70vh;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    /* max-width: 75vw; */
    /* min-height: 80vh; */
    color: rgba(233, 207, 62, 0.959);
    flex-basis: 100vw;
    /* background-color:chartreuse; */
}

.image {
    /* background-color: palegoldenrod; */
    /* border-top: #534A8C solid 5px; */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid rgba(233, 207, 62, 0.959);
    box-shadow: 0px 0px 1em 5px white;
    opacity: .85;
    /* transition: transform 1s ease-in-out; */
    animation-name: imageslide;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    position: relative;
    text-align: center;
    margin: 0px;
    padding-right: 0px;
    order: 3;
}
/* .aboutMeContainer #image {
    transform: translate(-100%);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.6em;
    
} */


#im {
    font-size: 1.5em;
    font-family: 'Architects Daughter', cursive;
    padding-bottom: 1vh;
    margin-top: 3vh;
    color:rgba(233, 207, 62, 0.959);
    order: 1;
}
#nameTarget {
    color:rgba(233, 207, 62, 0.959);
}

#aboutMe {
    padding-top: 2vh;
    padding-left:3vw;
    font-size: 1.8em;
    line-height: 1.3em;
    font-family: 'Arimo', sans-serif;
    animation-name: textdrop;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    position: relative;
    /* text-align: center; */
    order: 2;
    color: white;
}
/* #fsline {
    color: rgba(233, 207, 62, 0.959);
} */

@keyframes textdrop {
    0% {top: -100vh;}
    100%{top: 0vh;}
}
 
@keyframes imageslide {
    0% {transform: translate(-100%); box-shadow: 0px 0px 1em 5px white; border-radius: 0%;}
    25% {}
    50% {box-shadow: 0px 0px 1em 5px white;}
    75% {transform: translate(0%); box-shadow: 0px 0px 1em 5px gold;}
    100% {box-shadow: 0px 0px 0px 0px;}
}

@media (min-width: 750px) {
    @keyframes imageslide {
        0% {transform: translate(-400%); box-shadow: 0px 0px 1em 5px white;}
        25% {}
        50% {box-shadow: 0px 0px 1em 5px white;}
        75% {transform: translate(0%); box-shadow: 0px 0px 1em 5px rgba(233, 207, 62, 0.959);}
        100% {box-shadow: 0px 0px 0px 0px;}
    }

    #im {
        font-size: 3em;
        text-align: center;
        font-family: 'Indie Flower', cursive;
        width: 100%;
        order: 1;
    }

    .image {
        border: 5px solid rgba(233, 207, 62, 0.959);
        position: relative;
        order: 3;
        /* bottom: 8vh;
        right: 5vw; */
    }

    #aboutMe {

        font-size: 4em;
        font-family: 'Arimo', sans-serif;
        position: relative;
        text-align: start;
        padding-top: 0px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        order: 2;
        /* left: 15vw; */
    }

    .aboutMeContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        height: 100%;
        width: 85%;
       
    }
    .aboutMeContainer > *{
        
        flex-basis: 1;
    }
}

@media (max-width: 1230px) {

}

/* #534A8C = medium purple */