@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.portfolioPage {
    font-family: 'Prompt', sans-serif;
    margin: 0px;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portContainer {
    height: fit-content;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
 
}


.portfolioText {
    width: 80%;
    font-size: 1.5em;
    /* font-style: italic; */
}

.projectCaption {
    width: fit-content;
    margin: auto;
    font-size: 1.2em;
    
    padding-top: 2.2vh;
    text-align: center; 
    text-decoration: none;
    display:block;
    color: white;
    background-color: black;
    border-bottom: none;
    /* border-radius: 100% 100% 0 0; */
}

.linkBox {
    text-align: center;
}

.projectImg:hover {
    box-shadow: .4em .4em .3em .2em white;
    border: 2px solid white;
}

.projectLinks {
    height: 80%;
    border-radius: 3px;
    border-color:black; 
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0px;
    padding-top: 2vh;
    padding-bottom: 2vh; 
}

.projectImg {
    width: 325px;
    height:325px;
    align-content: space-around;
    margin-left: 1vw;
    margin-right: 1.5vw;
    border-radius: 5px;
    margin-top: 3vh;
    border: 3px solid black;
    box-shadow: .75em .5em .2em .2em black;
}

#portHeader {
    font-weight: 900;
    font-size: 2.2em;
}
/* #01B0F0 */

/* @media (min-width: 750px) {
    .portContainer {
        height: 100%;
        width: 100%;
    }
    
    .portfolioPage {
        font-family: 'Prompt', sans-serif;
        margin: 0px;
        color: rgba(233, 207, 62, 0.959);
        padding-bottom: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
    }

    .projectLinks {
        height: 100%;
        width: 100%;
        border-radius: 3px;
        border-color:black; 
        justify-content: center;
        display: flex;
        flex-wrap: wrap-reverse;
        align-content: space-between;
        padding: 0px;
        padding-top: 2vh;
        padding-bottom: 5vh;
    }
    
    .portfolioText {
        text-align: start;
    }

} */
