.iconRow {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap: wrap;   
}

.eachIcon {
    filter: drop-shadow(4px -5px .9px rgb(14, 71, 80));
    position: relative;
    animation-name: icons;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    fill:paleturquoise;  
}


@keyframes icons {
    0% {bottom: 0px; filter: drop-shadow(0px 0px 0px white);}
    /* 25% { bottom: 4px; filter: drop-shadow(4px 0px .1px grey)} */
    50% {bottom: 13px; filter: drop-shadow(0px 13px 1.75px white);}
    /* 75% {bottom: 9px; filter: drop-shadow(0px 5px 1.2px rgb(19, 18, 18));} */
    100% {bottom: 0px; filter: drop-shadow(0px 0px 0px white)}
}
